@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
	.index#baner{
		height: 400px
	}
	.W-md-75{
		width: 100%;
	}
	#DetiledNews .image{
		height: 300px;
	}
	#DetiledNews #textWrapper{
		padding: 0px 20px
	}
	.or-md-1{
		order: 2
	}
	.or-md-2{
		order: 1
	}
	.w-md-auto{
		width: 100%;
	}
	.index #predprinimatelstvo{
		height: auto ! important;
	}
	#Perevods #PerevodBaner{
		width: 100%;
		height: 300px;
		position: relative;
	}
	#Products #dogovor table tbody td{
		padding: 20px;
		font-size: 14px;
	}
	.Deposit #baner{
		max-height: 200px
	}
}
@media only screen and (max-width: 576px) {
	.index#baner{
		height: 200px
	}
}